body {
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	background-color:#000;
	color:#fff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#top {
	text-align:center;
	display:block;
	margin:20px;
}

a {
	color:#00baff;
	text-decoration:none;
}

#canvases {
	margin-left:auto;
	margin-right:auto;
	width:800px;
	height:480px;
	background-color:rgb(0, 186, 255);
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
}

canvas {
	position:absolute;
	width:800px;
	height:480px;
}

#background {
	z-index:1;
}

#foreground {
	z-index:2;
}

#entities {
	z-index:3;
}

#ui {
	z-index:4;
}

#dev {
	z-index:5;
	display:none;
}

#editor {
	width:800px;
	margin-left:auto;
	margin-right:auto;
	margin-top:32px;
	display:none;
}

#editor a {
	display:block;
	float:left;
	width:32px;
	height:23px;
	color:#000;
	font-size:10px;
	text-align:center;
	padding-top:9px;
	margin-right:8px;
	border:1px solid rgba(0,0,0,0);
}

#editor .active {
	border:1px solid #fff;
	box-shadow:0px 0px 5px #fff;
}